*{
    margin: 0;
    padding: 0;
    text-align: center;

}
#heading{
    width: 100%;
    height: 100px;
    color: #ffffc6;
    background-color: #081b31;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
#pictures{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 5rem;
}
img{
    border-radius: 50%;
    object-fit: cover;
    height: 220px;
}
#scoreboard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-size: 2rem;
margin: 15px;
}
#msgcontainer{
    font-size: 35px;
    color: #ffffc6;
    background-color: #081b31;
    margin-top: 4rem;
    padding: 1rem;
   border-radius: 1rem;
}
img:hover{
    opacity: 0.5;
cursor:grab;
border: 1px solid rgb(0, 79, 63);
}
#compscore{
    font-size: 4rem;
    color: #ffffc6;
    background-color: #081b31;
    border-radius: 1rem;
}
#userscore{
    font-size: 4rem;
    color: #ffffc6;
    background-color: #081b31;
    border-radius: 1rem;
}
